/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.block1 ul li{
		white-space: normal;
		line-height: 18px;
		margin-bottom: 37px;
	}
	.block7-img-wrapper img {
		display: none !important;
	}
	.block7-img-wrapper{
		max-width: 480px;
		width: 100%;
		height: 400px;
		background-image: url(../img/block7-img-mobile.png);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
		margin: 0 auto;
	}
	.block7-img-wrapper{
		max-width: 450px;
	}
	.block1{
		background-image: none;
		
	}
	.col-sm-6-last{
		left: 0;
	}
	.wrapper-video iframe {
		top: -21px;
		max-width: 343px;
		top: -21px;
		height: 215px;
	}
	.block__main{
		background-position: center bottom;
	}
	.header__active nav ul li {
		margin-right: 10px;
	}
	.header__active nav ul li a{
		font-size: 14px;
	}
	.header__active .header__btn{
		margin-left: 0;
	}
	.block5 span{
		right: 0;
	}
	.block__main{
		background-position: center bottom;
	}
	.block1-img1{
		left: -15px;
	}
	.block1-img2{
		left: -10px;
		margin: -90px 0 0;
	}
	.block1-img3 {
		margin: 8px 0 0;
		left: 82px;
	}
	.block1-img4 {
		margin: -83px 0 0;
		left: -60px;
	}
	.block1-in__item{
		height: 260px;
	}
	.block4:after{
		right: -435px;
	}
	.block4:before{
		right: -480px;
	}
	.block8 ul{
		left: -120px;
	}
	.block7-img-wrapper .absolute-img {
		max-width: 300px;
		width: 100%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.block5__title{
		margin: 0;
	}
	.block7-img-wrapper .absolute-img {
		max-width: 420px;
		width: 100%;
	}

	.block1 .col-md-6:first-child{
		max-width: 485px;
		width: 100%;
		margin: 0 auto;
	}
	.footer__item3, .footer__item4 {
		left: 0px;
		float: right;
	}
	.footer__item1{
		text-align: center;
	}
	.footer__item2{
		left: 0;
		float: left;
	}
	.block8 p, .block8 ul{
		left: 0;
	}
	.block8 .img-responsive{
		margin: 0 auto;
	}
	.block5 p{
		left: 0;
	}
	.block4:after, .block4:before{
		display: none;
	}
	header .logo{margin-top: 10px;}
	header .header__phone {
		margin: 0 35px 0 0px;
	}
	h1{
		font-size: 70px;
	}
	.block1-in__item{
		height: 320px;
	}
	.block8 ul li{
		white-space: normal;
		line-height: 22px;
		margin-bottom: 25px;
	}
	.header__active nav {
		display: block;
		top: -3px;
		right: -20px;
	}
	.header__active .header__btn {
		height: 28px;
		line-height: 24px;
	}
	.header__active .logo{
		margin-top: 0;
	}
	.wrapper-video iframe {
		max-width: 345px;
		top: -15px;
		height: 218px;
	}
	.wrapper-video{
		max-width: 455px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.header__active nav{
		display: none;
	}
	.block2__list strong{
		font-size: 16px !important;
		line-height: 16px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		align-items: center;
	}
	.block1-in .h6{
		display: none;
	}
	.header__active nav ul li{
		margin-right: 0;
	}

	header{
		padding: 10px 0 0;
	}
	header.header__active .header__btn{
		margin-top: 0 !important;
	}
	.header__btn{
		height: 40px;
		line-height: 38px;
		font-size: 16px;
		margin-top: 5px !important;
	}
	header .header__phone{
		display: none !important;
	}
	.header__active .header__btn {
		height: 40px;
		line-height: 37px;
	}
	.header__active .header__btn{
		background-color: #FFF;
		position: relative;
		left: -20px;
		display: block;
	}
	header nav{
		display: none;
	}
	.block1 ul {
		margin: 68px 0 0 0px;
		padding-left: 15px !important;
	}
	header .header__phone{
		margin: 7px 0px 0 0px !important;
		float: left;
	}
	header .logo{
		text-align: center;
		margin-bottom: 20px;
	}
	h1 strong{
		font-size: 80px;
	}
	h1 {
		font-size: 45px;
	}
	.block__main__btn{
		max-width: 210px;
	}
	h3 {
		font-size: 31px;
		line-height: 30px;
	}
	.block__main h3 {
		margin: 0px 0 320px;
	}
	.block__main{
		padding: 0px 0 20px;
		background-position: 85% bottom;
	}
	h2{
		font-size: 40px;
		line-height: 40px;
	}
	.block1{
		padding: 30px 0 30px;
	}
	.bx-pager-in{
		overflow-x: auto;
	}
	.block1 ul li{
		white-space: normal;
		line-height: 20px;
		margin-bottom: 30px;
	}
	.block1-in {
		margin: 30px 0 0;
	}
	.block1-in__item{
		height: auto;
	}
	.block__slider:after{
		display: none;
	}
	.block__slider{
		padding: 20px 0 30px;
	}
	.block2__list table tr td:last-child{
		text-align: right;
	}
	.block2__list strong{
		font-size: 20px;
	}
	.block3 {
		margin: 30px 0 0;
		padding: 0 0 100px;
	}
	h4 br{
		display: none;
		width: 0;
		height: 0;
	}
	h4{
		font-size: 28px;
		line-height: 32px;
	}
	.block4__item strong{
		white-space: normal;
	}
	.block5__title{
		line-height: 60px;
	}
	.block5 {
		padding: 30px 0 100px;
	}
	.block5 span{
		font-size: 17px;
	}
	.block6{
		padding: 30px 0;
		margin: 0 0 30px;
	}
	.block6__title{
		font-size: 36px;
		line-height: 36px;
		margin-bottom: 10px;
	}
	.block6__item {
		margin: 0 auto 20px;
		max-width: 385px;
		width: 100%;
		position: relative;
		left: 10px;
	}
	.block11 img{
		right: 0;
	}
	.mobile-mnu{
		font-size: 20px;
		display: block;
		float: right;
		margin: 0px 0 0;
		position: relative;
		top: -35px;
		right: -6px;
	}
	.header__active{
		height: 70px;
	}
	header nav{
		position: absolute;
		top: 50px !important;
		right: 0 !important;
		background-color: #FFF;
		width: 320px;
		z-index: 5;
	}
	header nav ul li{
		display: block;
		text-align: center;
		margin-right: 0;
	}
	header nav ul li a{
		font-size: 16px;
		line-height: 40px;
		c#
	}
	header{
		position: relative;
	}
	.header__active .logo img{
		opacity: .7;
	}
	header .header__btn{
		left: -20px !important;
		position: relative;
		top: 1px;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.block__main {
		padding: 30px 0 20px;
		background-position: 81% bottom;
	}
	.block__main h3 {
		margin: 50px 0 320px;
	}
	.loop img{
		margin-left: 0 !important;
	}
	.wrapper-video{
		background-image: none;
	}
	.block7-img-wrapper{
		height: 300px;
	}
	.block1-in__item{
		padding: 27px 15px 20px;
	}
	.block1-in__item strong{
		font-size: 22px;
		line-height: 22px;
		margin-bottom: 10px;
	}
	.block6__title {
		font-size: 26px;
		line-height: 28px;
	}
	.block6__descr{
		font-size: 22px;
	}
	.footer__item2{
		float: none;
		text-align: center;
	}
	.footer__item3{
		float: none;
		text-align: center;
	}
	.footer__item4{
		float: none;
		text-align: center;
	}
	.block12__btn{
		font-size: 18px;
	}
	.block12__callback-block__title{
		font-size: 24px;
		line-height: 24px;
	}
	.block12__callback-block__title span{
		font-size: 36px;
		line-height: 36px;
		margin-bottom: 10px;
	}
	.block12__form button{
		font-size: 18px;
	}
	.block12__form__h3{
		font-size: 18px;
		line-height: 20px;
		margin: 5px 0 10px;
	}
	.block12__form__h3 br{
		display: none;
	}
	.block12__form{
		padding: 1px 15px 20px;
	}
	.block12__form__h2{
		font-size: 20px;
		line-height: 22px;
		margin-top: 5px;
	}
	.block11__btn{
		right: 0;
		font-size: 18px;
	}
	.block9 strong{
		line-height: 24px;
	}
	.block9{
		padding: 30px 0;
		margin: 0;
	}
	.block7 {
		padding: 0 0 30px;
	}
	.block8{
		padding: 30px 0;
	}
	.block8 .img-responsive{
		left: 0;
	}
	.block8 ul li{
		white-space: normal;
		line-height: 18px;
		font-size: 18px;
		margin-bottom: 20px;
	}
	.block8__title{
		font-size: 34px;
		line-height: 34px;
		margin-bottom: 0;
	}
	.block8__descr{
		margin-top: 10px;
		line-height: 24px;
	}
	.block7__title{
		font-size: 40px;
		line-height: 40px;
	}
	.block5__title {
		font-size: 50px;
		line-height: 50px;
	}
	.block2__list table tr td:first-child {
		padding: 0 0 0 10px;
		line-height: 18px;
	}
	.block2__list strong {
		font-size: 13px;
		padding-left: 10px;
		padding-right: 50px !important;
	}
	h2 {
		font-size: 32px;
		line-height: 34px;
	}
	.block__slider strong{
		font-size: 46px;
	}
	.block1 ul {
		padding: 12px 0 1px 0px;
	}
	.block1-img1{
		zoom: 60%;
	}
	.block1-img2{
		zoom: 70%;
		left: 15px;
	}
	.block1-img3 {
		left: 26px;
		top: -60px;
		zoom: 80%;
	}
	.block1-img4 {
		left: 8px;
		top: -50px;
		zoom: 90%;
	}
	.block__main__btn {
		max-width: 155px;
		font-size: 18px;
		height: 55px;
		line-height: 55px;
	}
	h1 strong {
		font-size: 70px;
	}
	header .header__phone{
		float: none !important;
		margin: 0 auto !important;
		display: block;
	}
	header .header__btn{
		margin: 0 auto 0;
		float: none;
		left: 0;
		right: 0;
		display: block;
	}
	.block1 .col-md-6:first-child{
		max-width: 320px !important;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 374px) {
	.block__main__btn {
		max-width: 130px;
		font-size: 18px;
		height: 55px;
		line-height: 55px;
	}
}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

	.block9{
		background-attachment: fixed;
	}
	.mobile-mnu{
		display: none;
	}

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	.block__main{
		background-attachment: fixed;
		background-size: cover;
	}
	.block6 .container{
		width: 1120px;
		zoom: 85%;
	}
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1201px) {
	@-webkit-keyframes animationblock {
		30%     {right: 120px;left: auto;}
		60%     {bottom: 0;right: 120px;left: auto;top: auto;}
		100%    {left: 95px;top: 50px;right: auto;bottom: auto;}
	}
	.absolute-img1 {
		-webkit-animation-name: animationblock;
		-webkit-animation-duration: 4s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: ease-in-out;
		-webkit-animation-delay: 2s;
	}


	@-webkit-keyframes animationblockk {
		30%     {bottom: 0px;right: 75px;top: auto;left: auto;}
		60%     {left: 50px;right: auto;top: 50px;bottom: auto;}
		100%    {left: auto;right: 75px;top: 50px;bottom: auto;}
	}
	.absolute-img2 {
		-webkit-animation-name: animationblockk;
		-webkit-animation-duration: 4s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: ease-in-out;
		-webkit-animation-delay: 2s;
	}

	@-webkit-keyframes animationblockkk {
		30%     {left: 75px;top: 50px;bottom: auto;right: auto;}
		60%     {bottom: auto;top: 50px;left: auto;right: 75px;}
		100%    {bottom: 0;right: 75px;left: auto;top: auto;}
	}
	.absolute-img3 {
		-webkit-animation-name: animationblockkk;
		-webkit-animation-duration: 4s;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-timing-function: ease-in-out;
		-webkit-animation-delay: 2s;
	}
	.block6 .container{
		width: 1170px;
		zoom: 100%;
	}
	.block__main{
		background-size: cover;
	}
	.block4__active:after{
		right: -285px;
	}
	.block4__active:before{
		right: -382px;
	}
}
@media only screen and (min-width : 1280px) {
	.block__main{
		background-size: 140%;
	}
}
@media only screen and (min-width : 1440px) {
	.block__main{
		background-size: cover;
		background-position: 55% -100px;
	}
	.block1{
		position: relative;
		background-image: none;
		
	}
	.block1:before{
		content: '';
		position: absolute;
		left: -20%;
		top: 20%;
		bottom: 0;
		max-width: 791px;
		width: 100%;
		height: 874px;
		margin: auto 0;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url("../img/honeycomb-contour1.png");
	}
		.block1:after{
		content: '';
		position: absolute;
		right: -25%;
		bottom: 0%;
		max-width: 791px;
		width: 100%;
		height: 874px;
		margin: auto 0;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url("../img/honeycomb-contour2.png");
	}
}
@media only screen and (min-width : 1680px) {
	.block1:before{
		left: -8%;
		top: 20%;
	}
		.block1:after{
		right: -15%;
		bottom: 0%;
	}
}


.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}
.mfp-counter{
	font-size: 0;
	width: 0;
	height: 0;
	display: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	color: #000;
}
::-moz-placeholder { /* Firefox 19+ */
	color: #000;
}
:-ms-input-placeholder { /* IE 10+ */
	color: #000;
}
:-moz-placeholder { /* Firefox 18- */
	color: #000;
}
